.site-footer {
    .footer-widgets {
        background-color: #062d39;
    }

    .footer-copyright-bar {
        background-color: #041f27;
    }

    .footer-copyright-bar-inner {
        height: 60px;
    }
}