.header-menu {

    > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }

    .sub-menu > li > a {
        color: #022d39;
    }
}

.submit-resume {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    padding: 0;

    a {
        display: inline-block;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border-radius: 4px;
        padding: 0 20px;
        border: 2px solid #fff;
        color: #fff;

        &:hover {
            color: #022d39;
            border-color:#f2a106;
            background-color: #f2a106;
        }

        .jobhunt-stick-this.stuck & {
            color: #022d39;
            border-color:#f2a106;
            background-color: #f2a106;
        }

        .jobhunt-stick-this.stuck & {
            &:hover {
                color: #fff;
                border-color:#022d39;
                background-color: #022d39;
            }
        }
    }
}

.handheld-header {

    .off-canvas-navigation-wrapper {
        width: 96px;
        padding-right: 0;
    }

    .navbar-toggler {
        background-color: transparent !important;
    }
}

.site-content-page-header {

    &:after {
        background-image: none !important;
        background-color: rgba(0, 0, 0, .5) !important;
    }

    .site-content-page-header-inner {
        padding-top: 0;
    }

    .site-content-page-title:before {
        content: '';
        display: block;
        width: 35px;
        height: 4px;
        border-radius: 4px;
        background-color: #fff;
        margin: 0 auto 20px;
    }
}