.top-bar {
    display: block;
    text-align: center;
    background-color: #022d39;
    padding: 10px;

    @media (min-width: 992px) {
        padding: 0;
    }

    .top-bar-inner {
        min-height: 35px;
        justify-content: center;
        align-items: center;
    }

    .widget {
        margin-bottom: 0;
    }

    .widget_text .textwidget p {
        color: #fff;
        margin-bottom: 0;
    }

    .widget_text .textwidget a {
        font-weight: 700;
        display: inline-block;
        color: #f2a106;

        &:hover {
            color: #fff;
        }

        @media (min-width: 992px) {
            margin-left: 10px;
        }
    }
}